    <table 
        mat-table [dataSource]="dataSource()" class="mat-elevation-z8"
        matSort="id"
    >
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- date Column -->
      <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="center-text"> Date</th>
          <td mat-cell *matCellDef="let element"> {{element.date | date: 'M/d/y'}} </td>
      </ng-container>
  
      <!-- incomeSource Column -->
      <ng-container matColumnDef="incomeSource">
          <th mat-header-cell *matHeaderCellDef class="center-text"> Source </th>
          <td mat-cell *matCellDef="let element"> {{element.incomeSource}} </td>
      </ng-container>
  
      <!-- Position amount -->
      <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="center-text"> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount | number:'.2-2'}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef class="center-text"> Remarks </th>
          <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>