:host{
    .payment-container{
        display:flex;
        flex-direction: column;
        gap: .5rem;
        margin-top:2rem;

        &__pay-button-wrapper{
            width: 100%;
            text-align: right;
        }

        &__pay-button{
            width: 6rem;
        }
    }
}
  
@media (max-width: 425px) {
    .payment-container{
        &__pay-button {
            width: 100% !important;
        }
    }
}
  