<mat-card appearance="outlined">
    <mat-card-content>
        <h2>About This Project</h2>
  
        <p>This personal accounting application is a comprehensive financial management tool designed to help users track income, expenses, capital, and purchases.</p>
      
        <h3>Key Features</h3>
        <ul>
          <li>Income and Expense Tracking: Accurately record income and expenses for detailed financial analysis.</li>
          <li>Budgeting: Create and manage budgets to control spending and achieve financial goals.</li>
          <li>Capital and Purchase Tracking: Monitor capital investments and purchases for asset management.</li>
          <li>Financial Reporting: Generate customizable reports on net income, assets, and other key financial metrics.</li>
        </ul>
      
        <h3>Highlights</h3>
        <ul>
          <li>User-Friendly Interface: Prioritized a clean and intuitive design for easy navigation and data entry.</li>
          <li>Robust Features: Comprehensive functionality for effective financial management.</li>
          <li>Scalability: Designed to handle growing financial needs and data volumes.</li>
        </ul>
      
        <h3>Technologies</h3>
        <ul>
          <li>Angular 18</li>
          <li>Angular Material</li>
          <li>RxJs</li>
          <li>NgRx</li>
          <li>Firebase</li>
          <li>Sass</li>
        </ul>
      
        <p>GitHub Repository: <a href="https://github.com/moof44/personal-accounting-2">https://github.com/moof44/personal-accounting-2</a></p>
      
        <p>This application is a valuable resource for individuals seeking to improve their financial organization and make informed decisions.</p>
        <img ngSrc="/assets/images/fb logo.png" alt="" width="50" height="50">
    </mat-card-content>
</mat-card>