@switch (type()) {
    @case ('delete'){
        <button mat-flat-button color="warn">
            <mat-icon class="delete-icon">delete</mat-icon> Delete
        </button>
    }
    @case ('add') {
        <button mat-raised-button [routerLink]="routerLink()">
            <mat-icon class="add-icon">add</mat-icon> Add
        </button>
    }
    @case ('back'){
        <button mat-raised-button [routerLink]="routerLink()">
            <mat-icon class="add-icon">chevron_left</mat-icon>
            Back
        </button>
    }
}