<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ title }}</h1>
      <div class="button-actions">
        @if (pageStateStore.type() === 'list') {
        <ng-container *ngTemplateOutlet="addBtn"></ng-container>
        } @else {
          <ng-container *ngTemplateOutlet="deleteBtn"></ng-container>
          <ng-container *ngTemplateOutlet="backBtn"></ng-container>
        }
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- <page-list-income [dataSource]="store.entities()"></page-list-income> -->
    <router-outlet></router-outlet>
  </mat-card-content>
  <!--     <mat-card-actions class="liability-action">
        @if (currentPage() === 'list') {
            <ng-container *ngTemplateOutlet="addBtn"></ng-container>
        }
        @else {
            <ng-container *ngTemplateOutlet="backBtn"></ng-container>
        }
    </mat-card-actions> -->
</mat-card>

<!-- Templates -->

<ng-template #addBtn>
  <button mat-raised-button [routerLink]="'./add'">
    <mat-icon class="add-icon">add</mat-icon> Add
  </button>
</ng-template>

<ng-template #backBtn>
  <button mat-raised-button [routerLink]="['./']">
    <mat-icon class="add-icon">chevron_left</mat-icon>
    Back
  </button>
</ng-template>

<ng-template #deleteBtn>
  <button
    mat-flat-button
    color="warn"
    (click)="triggerDelete()"
  >
    <mat-icon class="delete-icon">delete</mat-icon> Delete
  </button>
</ng-template>
